@font-face {
    font-family: 'sport_spirit_afregular';
    src: url('type/sport___-webfont.eot');
    src: url('type/sport___-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/sport___-webfont.woff2') format('woff2'),
         url('type/sport___-webfont.woff') format('woff'),
         url('type/sport___-webfont.ttf') format('truetype'),
         url('type/sport___-webfont.svg#sport_spirit_afregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	text-align: left;
}

hr {
	width: 100%;	
	clear: both;
}

h1 {
	font-family: 'sport_spirit_afregular';
	text-shadow: 2px 2px hsla(0,0%,100%,0.82);
	position: relative;
	text-align: center;
	background-color: hsla(0,100%,99%,0.80);
	border: 1px solid #000000;
}
ol {
	padding-left: 4%;
}

h2, h3 {
	font-family: 'sport_spirit_afregular';
	text-shadow: 2px 2px hsla(0,0%,100%,0.82);
	position: relative;
	text-align: left;
	padding-top: 1%;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 1%;
	background: #c9de96;
	/* Old browsers */

	background: -moz-linear-gradient(top,  hsla(78,52%,73%,1) 0%, hsla(95,34%,57%,1) 44%, hsla(117,42%,36%,1) 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(78,52%,73%,1)), 			color-stop(44%,hsla(95,34%,57%,1)), color-stop(100%,hsla(117,42%,36%,1)));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  hsla(78,52%,73%,1) 0%,hsla(95,34%,57%,1) 44%,hsla(117,42%,36%,1) 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  hsla(78,52%,73%,1) 0%,hsla(95,34%,57%,1) 44%,hsla(117,42%,36%,1) 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top,  hsla(78,52%,73%,1) 0%,hsla(95,34%,57%,1) 44%,hsla(117,42%,36%,1) 100%);
	/* IE10+ */

	background: linear-gradient(to bottom,  hsla(78,52%,73%,1) 0%,hsla(95,34%,57%,1) 44%,hsla(117,42%,36%,1) 100%);
	/* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); 
	/* IE6-9 */
	border: 1px solid #000000;
}

header {
	width: 100%;

}

#intro_img, #peewee_img, #friday_img, #pros_img {
	width: 518px;
	height: 348px;
	border: 1px solid #000000;
}

footer {
	background-image: url(images/foot_texture.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	border: 1px solid #000000;
	clear: both;
	overflow: auto;
	position: relative;
	height: auto;
	width: auto;
	padding: 0% 5%;
}
section {
	position: relative;
	width: 100%;
	float: left;
	visibility: visible;
}

figure {
	float: left;
	overflow: auto;
	
}

article {
	background-color: hsla(0,0%,100%,0.80);
	background-size: 100%;
	border: 1px solid #000000;
}

nav {
    width: 100%;
    background: hsla(0,0%,100%,0.80);
    border: 1px solid #000000;
}
 
nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #000000;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
nav ul li:first-child {
    border-left: none;
}
 
nav ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 10px 0;
}

#head_nav {
	background-image: url(images/football_bg.png);
	background-repeat: no-repeat;
	background-size: 100%
}

#intro_sect, #peewee_sect, #friday_sect, #pros_sect {
	background-image: url(images/footballfield2.jpg);
	background-repeat: no-repeat;
	background-color: hsla(0,0%,100%,0.50);
	background-size: 100%;
	border: 1px solid #000000;
	padding-top: 0px;
}

#credits_art  {
	background-color: hsla(0,100%,99%,0.80);
	border-radius: 15px;
	padding: 2% 2%;
	margin-bottom: 2%;
	border: 1px solid #000000;
}